#popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  overscroll-behavior: contain;
  &.show {
    display: flex;
  }
  > .null {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
  }
  > .popup-block {
    width: 100%;
    max-width: 380px;
    max-height: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    z-index: 2;
    > .popup-block-title {
      width: 100%;
      height: 45px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 5;
      top: 0px;
      left: 0px;
      h3{
        margin-bottom: 0px;
      }
    }
    .popup-block-content {
      width: 100%;
      height: 100%;
      padding: 40px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .note {
    width: 100%;
    margin-top: 5px;
    .msg {
      width: 100%;
      margin: 0px 0px 15px 0px;
      display: flex;
      color: #ea4335;
      font-size: 0.8em;
      justify-content: center;
    }
    .note-action {
      width: 100%;
      display: flex;
      .btn {
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
  .qrImages{
    width: 100%;
  }
}
