@import "./setup.scss";
@import "./icon.scss";
@import "./nav.scss";
@import "./header.scss";
@import "./list.scss";
@import "./form.scss";
@import "./popup.scss";
@import "./login.scss";
@import "./loading.scss";

span {
  &.btn {
    min-width: 60px;
    height: 30px;
    padding: 0px 10px;
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    &.add {
      border: 1px solid #ccc;
      background-color: #fff;
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-size: 80%;
        background-image: url($icon_add_1);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &.optinRemove {
      min-width: 15px;
      height: 15px;
      padding: 0px;
      display: block;
      background-image: url($icon_optionRemove);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      position: absolute;
      right: 5px;
    }
    &.action {
      width: 130px;
      color: #fff;
      background: #2c3339;
      &.remove {
        background: #ea4335;
      }
      &.edit {
        background: #fbbc05;
      }
      &.qr{
        background: #4CAF50;
      }
    }
    &.check-yes {
      width: 100%;
      color: #fff;
      background: #4285f4;
    }
    &.check-no {
      width: 100%;
      color: #666;
      border: 1px solid #d9d9d9;
      //background: #ea4335;
    }
    &.enabled {
      color: #fff;
      &.true {
        background-color: #34a853;
      }
      &.false {
        background-color: #ea4335;
      }
    }
    &.icon {
      min-width: 26px;
      height: 26px;
      padding: 0px;
      margin-left: 10px;
      margin-right: -7px;
      font-size: 1em;
      color: #28313b;
      background: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
      border: 1px solid rgb(220, 220, 220);
      @include radius(3px);
    }
  }
}

ul {
  list-style-type: none;
}

a {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  margin: 0px;
  padding: 0px;
}

span {
  &.label {
    height: 100%;
    margin: 0px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8em;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
}

.App {
  background-color: #000;
}

#app {
  width: 100%;
  display: flex;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
  align-items: flex-start;
  main {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    transition: left 0.3s;
    .main-block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      &.hide {
        display: none !important;
      }
      &.chart {
        min-height: 400px;
        background: #fff;
      }
      > .block {
        width: 100%;
      }
      .main-block-numberPage {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    .main-block-null {
      height: 100px;
      display: none;
      align-items: center;
      justify-content: center;
      background: #fbfbfb;
      color: #999;
      font-size: 0.8em;
      &.hide {
        display: flex !important;
      }
    }
    .content {
      width: 100%;
      .main-block {
        &.home-main-block {
          width: auto;
          margin: 20px -5px 20px -5px;
        }
      }
    }
    .main-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      > .main-content-block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .main-content-block-action {
          width: 100%;
          display: flex;
          margin-top: 20px;
          justify-content: center;
          > ul {
            > li {
              padding: 0px 5px;
              display: inline-flex;
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
  @include navPc {
    padding: 64px 0px 0px 250px;
  }
  @include navMobile {
    padding: 64px 0px 0px 0px;
    &.show {
      main {
        left: 250px;
      }
    }
  }
}

.loading_page {
  @include navPc {
    padding: 64px 0px 0px 250px;
  }
  @include navMobile {
    padding: 64px 0px 0px 0px;
    &.show {
      main {
        left: 250px;
      }
    }
  }
}

.canvasjs-chart-canvas {
  width: 100%;
}

.home-content {
  width: 100%;
  min-height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  .home-content-center {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9em;
    }
  }
}

.table {
  width: 100%;
  position: relative;
  display: flex;
  background: #fff;
  .loading {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    &.show {
      display: flex;
    }
    h2 {
      color: #ccc;
      margin: 0;
      font: 0.8em verdana;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    span {
      width: 0.6em;
      height: 0.6em;
      margin: 0.19em;
      display: inline-block;
      vertical-align: middle;
      background: #007db6;
      border-radius: 0.6em;
      animation: loading 1s infinite alternate;
      &:nth-of-type(2) {
        background: #008fb2;
        animation-delay: 0.2s;
      }
      &:nth-of-type(3) {
        background: #009b9e;
        animation-delay: 0.4s;
      }
      &:nth-of-type(4) {
        background: #00a77d;
        animation-delay: 0.6s;
      }
      &:nth-of-type(5) {
        background: #00b247;
        animation-delay: 0.8s;
      }
      &:nth-of-type(6) {
        background: #5ab027;
        animation-delay: 1s;
      }
      &:nth-of-type(7) {
        background: #a0b61e;
        animation-delay: 1.2s;
      }
    }
  }
  .noData {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color: #999;
    background-color: #fbfbfb;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.table-fixed {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.table-content {
  overflow-x: auto;
}

.block-title{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  > h3 {
  }
  .block-title-action {
    > li {
      display      : inline-flex;
      padding      : 0px 0px 0px 10px;
      &:first-child {
        padding-left: 0px;
      }
      span {
        &.btn {
          &.action {
            width: auto;
            min-width: 50px;
            i {
              width: 20px;
              height: 20px;
              font-size: 1.1em;
              margin-right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.remove {
                background: #a95292;
              }
              &.edit {
                background: #f5b548;
              }
            }
          }
        }
      }
    }
  }
}
.ant-card-body{
  .block-title-action {
    > li {
      display      : inline-flex;
      margin-right : 10px;
      &:last-child{
        margin-right: 0px;
      }
      >span{
        &::before{
          margin-right: 5px;
        }
      }
    }
  }
}

.charts-block {
  padding: 20px 10px 10px 10px;
  background: #fff;
}

.tool {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .btn.add {
    position: absolute;
    right: 0px;
    top: -40px;
  }
  @include pc {
    padding: 10px;
  }
  @include pad {
    padding: 10px;
  }
  @include min {
    padding: 10px;
  }
  @include mobile {
    padding: 5px;
    .btn.add {
      top: -42px;
      right: 5px;
    }
  }
}

.sitmap {
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: #fff;
  overflow-x: auto;
  > .sitmap-block {
    width: 100%;
    overflow-x: auto;
  }
  .sitmap-list {
    width: 100%;
    height: 35px;
    display: flex;
    white-space: nowrap;
    > li {
      height: 100%;
      margin: 0px 10px 0px 0px;
      display: inline-flex;
      align-items: center;
      position: relative;
      background-color: #ececec;
      > a {
        height: 100%;
        padding: 0px 35px 0px 10px;
        display: flex;
        align-items: center;
        color: #999;
        text-decoration: none;
        font-size: 0.8em;
        /*&.active{
          background: #1890ff;
          color: #fff;
        }*/
      }
    }
  }
  .remove-sitmap {
    width: 15px;
    height: 15px;
    display: block;
    background-position: center;
    background-image: url($icon_remove_sitmap);
    background-repeat: no-repeat;
    background-size: 70%;
    position: absolute;
    z-index: 2;
    right: 10px;
    cursor: pointer;
  }
  &.hide {
    display: none;
  }
}

.data {
  display: inline-flex;
  padding: 5px;
  .data-block {
    width: 100%;
    padding: 5px;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    .data-block-title {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      h3 {
        font-size: 0.8em;
        color: #00000073;
      }
    }
    .data-block-content {
      width: 100%;
      padding: 0px 10px 10px 10px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      span {
        display: inline-flex;
        &.unit {
          font-size: 1.2em;
          margin-bottom: 5px;
          margin-left: 10px;
        }
        &.val {
          font-size: 2em;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }
  }
  @include pc {
    width: 25%;
  }
  @include pad {
    width: 33.333%;
  }
  @include min {
    width: 50%;
  }
  @include mobile {
    width: 50%;
    .data-block {
      .data-block-title {
        h3 {
          font-size: 0.9em;
        }
      }
      .data-block-content {
        span {
          display: inline-flex;
          &.unit {
            font-size: 1em;
            margin-bottom: 3px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.roles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    width: 100%;
    height: 40px;
    display: inline-flex;
    align-items: center;
  }
  > .no {
    max-width: 30px;
    justify-content: center;
  }
  > .name {
    max-width: 300px;
  }
}
